
h1{
    color: red;
    background-color: rgb(37, 34, 34,0.5);
    text-align: center;
    padding: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: white 3px 4px 6px;
}

nav ul{
    color:red;
    display:flex;
    list-style: none;
}

nav a {
    color: rgb(239, 239, 243);
    margin: 70px;
    text-align: center;
    padding:auto;
    margin-left: 250px;
    box-shadow: red 1px 5px 5px 4px;
    font-weight: 900;
    border-radius: 20px;
}

body{
  background-image: url("/images/f7.jpeg");
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center; 
}

.h21{
    text-align:center;
    margin-left: 40%;
}

h2{
    color: rgb(216, 16, 16);
    box-shadow: 3px 3px 4px 2px;
    display: inline-block;
    box-shadow: white 4px 6px 3px;
    border-radius: 15px;
}

p{
    color:white;
    margin: 0;
    padding: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color:rgb(225, 225, 231);
    border-radius: 20px;
    text-decoration: none;
}

.l1{
    margin-bottom: 10px;
}

form{
    margin-top: 30px;
}

input{
    display: block;
    padding-right: 50px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
    border: none;
    border-bottom: rgb(116, 24, 24);
    box-shadow: rgb(221, 14, 14) 4px 6px 3px;
    border-radius: 8px;
}
textarea{
    display: block;
    padding:30px;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 10px;
    text-align: left;
    color: white;
    border: none;
    background-color: black;
    box-shadow: rgb(221, 12, 12) 4px 6px 3px;
}

button{
    color:red;
    background-color: rgb(0, 0, 0);
    padding:10px;
    box-shadow: white 4px 3px 8px;
}

.project-row{
    display:flex;
    margin-left: 50px;
}

.p_python{
    text-align:left;
    box-shadow: red 6px 9px 10px;
    margin-right:69%;
    margin-left: 5%;
    border-radius: 20px;
}

.project-ls{
    margin-right: 350px;
}

.page{
    text-align: center;
    margin-left:40%;
    box-shadow: red 3px 5px 6px;
}

img{
     transition: transform 0.2s;
}

img:hover{
    transform: scale(1.5);
}

.p_python:hover{
    color: rgb(0, 0, 0);
    background-color:red;
    box-shadow: rgb(10, 7, 216) 5px 8px 7px;
}

button:hover{
    color: white;
    background-color: red;
    box-shadow: tomato 5px 8px 6px;
}

.page:hover{
    color: red;
    background-color: white;
    box-shadow: blue 6px 9px 7px;
}