
h1{
    color: red;
    background-color: rgb(37, 34, 34,0.5);
    text-align: center;
    padding: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul{
    color:red;
    display:flex;
    list-style: none;
}

nav a {
    color: blue;
    margin: 70px;
    text-align: center;
    padding:auto;
    margin-left: 250px;
    box-shadow: 1px 5px 5px 4px;
    font-weight: 900;
}

body{
  background-image: url("imagenes/f8.jpeg");
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center; 
}

h2{
    color: rgb(196, 53, 53);
    box-shadow: 3px 3px 4px 2px;
    display: inline-block;
}

p{
    color:white;
    background-color: rgb(37, 34, 34,0.5);
    margin: 0;
    padding: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: rgb(114, 106, 106) 1px solid;
}

